.section-characters{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: var(--color-l-black);
}

.section-characters h2{
    color: var(--color-white);
}
.section-characters span{
    color: var(--color-primary);
}

.container-cards-characters{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}